:root {
  --custom-green: #3C7C3C;
	--custom-light-green: #86B886;
	--custom-pink: #ff7a8a;
}

#title {
  height: 100vh;
}

.bg-green {
  background-color: var(--custom-green);
}

.bg-l-green {
	background-color: var(--custom-light-green);
}

a.navbar-brand img {
  width: 250px;
  height: auto;
}

.font-white {
  color: white;
}

.font-medium {
  font-size: 15px;
}

ul.navbar-nav li a {
  color: white !important;
}

#iphone {
  width: 170px;
  height: auto;
}

#features  div.container  div.row  div.col-lg-4  i {
  font-size: 80px;
  color: var(--custom-pink);
}

#testimonials img {
	border-radius: 100%;
	width: 100px;
}

.vertical-center {
	position: relative;
	transform: translateY(-50%);
	top: 50%;
}

.btn-lg i {
	position: relative;
	top: 3px;
}

.btn-md i {
	position: relative;
	top: 3px;
}

#cta div.container a i {
	font-size: 18px;
}

.card-header {
	background-color: var(--custom-light-green);
	font-weight: bold;
	color: white;
	font-size: 25px;
}

.card-title {
	color: var(--custom-pink);
	font-weight: bold;
}

.card-text p {
	margin-bottom: 0;
}

#footer div.container ul {
	list-style: none;
	padding-left: 0;
}

#footer div.container ul li {
	display: inline;
}

#footer i {
	color: var(--custom-light-green);
	font-size: 25px;
}

@media only screen and (max-width: 768px) {
	#iphone {
		width: 130px;
	}
}




































